html {
    font-size: 10px;
}

body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    margin: 0;
}

strong {
    font-family: 'Merriweather-bold', serif;
    font-weight: 700;
}